.app-header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  &-img {
    display: block;
    margin-right: 10px;
    height: 32px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    &-title {
      font-size: 0.8rem;
    }
    &-name {
      font-size: 0.7rem;
      color: #999999;
      font-style: italic;
    }
  }
}
